/***********************************
GENERAL
***********************************/

html {
  font-family: Quicksand, sans-serif;
}

h6 {
  color: #2196f3;
}

/***********************************
HEADER
***********************************/

#logo {
  height: 50px;
  margin-top: 8px;
}

/***********************************
MESSAGE DISPLAY SECTION
***********************************/

#messageArea {
  padding-top: 50px;
  padding-bottom: 150px;
}

#messageArea2 {
  padding-top: 50px;
  padding-bottom: 150px;
}

#messages {
  font-size: 18pt;
  padding-left: 25px;
  padding-right: 25px;
}

/***********************************
MESSAGE INPUT SECTION
***********************************/

#message {
  padding-left: 20px;
  font-size: 18pt;
}

#chat {
  margin: 0;
}

.bubble {
  border-radius: 25px !important;
}

#sendMessage {
  font-weight: bold;
  margin-top: 14px;
  margin-left: 10px;
  padding-top: 7px;
  width: 44px;
  height: 44px;
}

/***********************************
STICKY FOOTER
***********************************/

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/***********************************
RESPONSIVE DESIGN
***********************************/

@media screen and (max-width: 600px) {
  #header {
    height: 40px;
  }
  
  #logo {
    height: 40px;
  }

  #input-field {
    width: 80%;
  }
}

